[2020-11-19 08:01] knjk04 opened #1 "Write schema"
Write the GraphQL schema. In line with the [Book Project](https://github.com/Project-Books/book-project), it should have the following types:
- A book
- An author
- A publisher
- A genre

[2020-11-20 19:26] knjk04 opened #2 "Replace H2 with MySQL"
Swap H2 for MySQL (with Docker) and add Flyway to bring the database under version control.

[2020-11-20 19:29] knjk04 opened #3 "Replace Travis with Azure Pipelines"
Due to Travis CI's new pricing structure, replace Travis CI with a different CI provider with a generous offering for open source (e.g. Buildkite or Azure Pipelines).

See discussion on the #announcements channel on Slack.

[2020-11-20 19:31] knjk04 opened #4 "Change many-to-one to many-to-many"
Change the many-to-one relationship between `Book` and `Author` to many-to-many (since a book can have multiple authors and an author can have multiple books)

[2020-11-20 19:48] knjk04 opened #5 "Validate ISBN 13"
Use the [Apache Commons ISBN validator](https://commons.apache.org/proper/commons-validator/apidocs/org/apache/commons/validator/routines/ISBNValidator.html#isValidISBN13-java.lang.String-) to validate a String that's being passed in

[2020-11-21 08:13] knjk04 opened #6 "Add series"
If a book is in a series, it should be possible to see:

1) Its position in the series
2) The name of the series (e.g. 'Harry Potter' for the Harry Potter books)
3) Other books in the same series

[2020-11-21 08:28] knjk04 opened #7 "Add book thumbnail field"
Add a field to the Book entity and schema for a book thumbnail.

Data: type String. This will be a part of the path to where the thumbnail is located in our blob cloud file storage

[2020-11-21 09:01] knjk04 opened #8 "Add edition to schema"
There should be an optional String edition field in the `Book` entity and schema

[2020-11-21 09:12] #1 closed

[2020-11-21 09:20] knjk04 opened #10 "Add derived query to find books by title"
Add a derived query to find by book title (case insensitive). This will also need to be added to the query resolver

Accompanying tests will be required.

[2020-11-21 09:22] knjk04 opened #11 "Add derived query to find books by genre"
Add a derived query to find by book genre (using our enum). This will also need to be added to the query resolver.

Accompanying tests will be required.

[2020-11-21 09:23] knjk04 opened #12 "Add derived query to find books by author"
Add a derived query to find by Author (using the `Author` type). This will also need to be added to the query resolver

Accompanying tests will be required.

[2020-11-21 10:06] knjk04 opened #13 "Add about field to Author"
Add an 'about' field to the `Author` entity and schema. This should be optional

[2020-11-21 10:07] knjk04 opened #14 "Make the blurb field required"
Make the `blurb` field required in the `Book` entity and schema

[2020-11-21 10:12] knjk04 opened #15 "Add literary awards won"
Add a literary award won entity

Fields:
- Unique ID
- An enum to represent the name of the literary award:
   - Women's Prize for Fiction
   - Orwell Book Prize
   - The Portico Prize
   - The Baillie Gifford Prize for Non-Fiction
   - International Dylan Thomas Prize
   - The Man Booker Prize
   - The Man Booker International Prize
   - Nobel Prize in Literature
- Category (nullable string)
- Ye

[2020-11-21 10:13] knjk04 opened #16 "Add Voyager"
Add the Voyager GraphQL Java kickstart dependency to allow for visualisation of the schema

[2020-11-21 10:17] knjk04 opened #17 "Add derived query to find books by ISBN 13"
Add a derived query that returns a list of books that match the ISBN 13 passed in (of type String).

Accompanying tests are also required

[2020-11-21 10:42] knjk04 opened #18 "Add language to schema"
Add a `language` field to the `Book` schema and entity. This should be represented by an enum and should be a mandatory field.

For now, the following languages should be added (it needs to be kept in this alphabetical order)

[code]

[2020-11-21 18:31] #16 closed

[2020-11-22 05:48] chetanchilhate commented on #18
I could work on this.  Do you need a constructor similar to BookFormat?

[2020-11-22 06:44] knjk04 commented on #18
@chetanchilhate Sure, I'll assign you to the issue. Thanks! Feel free to reach to us on Slack should you need anything

Yes, please

[2020-11-22 07:01] chetanchilhate commented on #18
@knjk04 in constructor you want keep the full name or just initials for the language like **en** for English

[2020-11-22 07:21] knjk04 commented on #18
@chetanchilhate Let's keep the full name

[2020-11-22 07:23] #4 closed

[2020-11-22 07:24] knjk04 opened #20 "Use lazy loading"
In `Book.java` for the `authors` field, change the fetch type to lazy

[2020-11-22 08:08] chetanchilhate commented on #18
@knjk04 I am not able to join slack channel it says the link is no longer active

i am getting this output is this expected

![image](https://user-images.githubusercontent.com/10488480/99898498-c202a780-2cc7-11eb-9dee-3e2f9c7f9e8d.png)

[2020-11-22 08:59] knjk04 commented on #18
My bad, here's an updated link: https://join.slack.com/t/teambookproject/shared_invite/zt-jcijyenp-JiKFGBv62FIPoFnvOW6Ubg

No, there could be an error on the server (backend) because it shouldn't say the 'server cannot be reached'. Are you getting an error in your IDE/terminal? Feel free to ask on the #help channel on Slack, so that we can help with this

[2020-11-22 11:20] chetanchilhate commented on #18
@knjk04  i have commented maxQueryDepth and no longer getting 'server can not be reached' issue.  Also i am not getting any error in IDE as well

![image](https://user-images.githubusercontent.com/10488480/99902270-8a552900-2ce2-11eb-91cb-a1bf8df2a022.png)

![image](https://user-images.githubusercontent.com/10488480/99902286-ab1d7e80-2ce2-11eb-92f2-7b20a0741021.png)

[2020-11-22 11:25] knjk04 commented on #18
@chetanchilhate Could you create a PR for this so that I can take a look?

[2020-11-22 11:39] chetanchilhate commented on #18
sure

[2020-11-23 11:53] navneet35 commented on #14
@knjk04 : Please assign this issue to me.

[2020-11-23 17:06] knjk04 commented on #14
@navneet35 Sure, I'll assign you to the issue. Thanks!

[2020-11-23 18:22] knjk04 commented on #18
![image](https://user-images.githubusercontent.com/11173328/99999910-c064dc80-2db8-11eb-96c9-cd3842793098.png)

You're right, the max query depth was exceeded. That's fine, though. I'll create a new issue for that to determine a better threshold

[2020-11-24 07:18] chetanchilhate commented on #20
I could work on this

[2020-11-24 07:20] knjk04 commented on #20
@chetanchilhate Sure, thanks

[2020-11-24 18:27] knjk04 opened #26 "Set up Checkstyle to check for style guide violations"
Set up Checkstyle to check for style guide violations when `mvn validate` is executed. The build should not fail if there are style guide violations

[2020-11-24 19:34] ofvoler commented on #13
Can I try this one?

[2020-11-24 19:37] knjk04 commented on #13
@ofvoler Sure, thanks

[2020-11-24 19:59] ofvoler commented on #13
Okay! I'll be looking at [issue 18](https://github.com/Project-Books/books-api/issues/18) for reference.

[2020-11-25 06:43] #18 closed

[2020-11-25 08:00] knjk04 opened #28 "Add book in author schema"
`#    books: [Book!]! TODO: bring this back`

In the `Author` schema, uncomment the `books` line and get it to work. It should be possible to find all of the books that belong to a particular author

[2020-11-26 07:28] #13 closed

[2020-11-27 21:58] ofvoler commented on #8
Can I take this issue?

[2020-11-28 08:00] knjk04 commented on #8
Thanks for your interest in this.

I should have blocked this because we need to re-think the design (a different book edition may have different book metadata, e.g. another author, so I think it'll be a little more involved than simply adding a String field).

I'd recommend #10, instead. It's a bit more challenging, but not hard by any means. I appreciate you've never used Spring before, but I th

[2020-11-28 09:27] #20 closed

[2020-11-29 08:07] knjk04 commented on #2
To keep things consistent, this implementation should be similar to what was done on the Book Project (see [PR](https://github.com/Project-Books/book-project/pull/169/files?file-filters%5B%5D=.java&file-filters%5B%5D=.sql))

[2020-12-01 06:37] knjk04 commented on #14
@navneet35 How are you getting on with this issue? If you need any help on this, feel free to reach out to us on Slack

If you need more time, that's fine, but please let us know.

[2020-12-04 11:59] navneet35 commented on #14
@knjk04 : Apologize for the delay. I was occupied with something. I will complete it soon. Thanks!

[2020-12-07 09:07] navneet35 commented on #14
@knjk04
Please find the approach I am considering:
There will be 2 changes to make the blurb field required:
1. add '!' operator in books.graphqls([link](https://github.com/Project-Books/books-api/blob/20d71f9c0cf90a17bd3628dfec3711366d92479c/src/main/resources/graphql/book.graphqls#L6)).
2. Add @NotEmpty annotation on blurb field in Book.java([link](https://github.com/Project-Books/books-api/blob

[2020-12-07 18:40] knjk04 commented on #14
@navneet35 That sounds good, thanks

[2020-12-08 08:44] ahsanbagwan commented on #17
Looks like I can't assign myself. Could you assign this to me?

[2020-12-08 18:57] knjk04 commented on #17
Sure (people request to be assigned and then we assign the issue to them)

[2020-12-09 10:05] shivansh29 commented on #11
Hey is this issue avai;able can you assign io to me

[2020-12-09 13:03] knjk04 commented on #11
@shivansh29 Sure, thanks!

[2020-12-11 07:36] shivansh29 commented on #11
BookRepositry   -  `@Query("FROM Book where title = :booktitle")`
                             ` Book findByTitle(@Param("booktitle") String title);`
QueryResolver  -  `public Book findByTitle(String title) {
    	                     return bookRepository.findByTitle(title);  }`

These are the changes I made
Let me know if there is something wrong or if it is not following any kinds of standards

[2020-12-28 17:22] #14 closed

[2021-01-03 08:41] knjk04 opened #40 "Set up code coverage"
Set up a codecov to track test code coverage

[2021-01-03 08:59] #17 closed

[2021-01-03 09:37] #3 closed

[2021-01-03 09:47] #40 closed

[2021-01-03 09:51] knjk04 opened #44 "Set up SonarCloud"
Set up SonarCloud via Azure Pipelines

[2021-01-03 19:39] #44 closed

[2021-01-09 14:49] nikole24 commented on #10
Hello! Can I take this task?

[2021-01-09 16:49] knjk04 commented on #10
Hello, sure. I'll assign you to it. Feel free to reach out to us by creating a new discussion on GitHub or on Slack if you need help

[2021-01-10 16:37] nikole24 commented on #10
@knjk04  i am trying to build the project but  i get this: Exception in thread "main" java.lang.UnsupportedClassVersionError: com/karankumar/booksapi/BooksApiApplication has been compiled by a more recent version of the Ja
va Runtime (class file version 55.0), this version of the Java Runtime only recognizes class file versions up to 52.0
my java version is 11 i have checked it out. Can you help m

[2021-01-10 16:38] nikole24 commented on #10
i have done the code i had to changed btw

[2021-01-10 16:52] knjk04 commented on #10
Could you please paste the stack trace into a GitHub Gist, Pastebin or something equivalent and then share it?

Also,
- what JDK version (I know you said 11, but what's the minor and patch version) and type (e.g. Oracle, OpenJDK) are you using?
- what OS are you suing?

[2021-01-10 18:11] nikole24 commented on #10
11.0.4  Oracle
and I work on windows 10
I am going to keep searching for a solution.

[2021-01-11 12:01] nikole24 commented on #10
I resolved the issue as following : I add the maven-compiler-plugin in the pom. xml with configuration java version 11.

[2021-01-16 08:20] knjk04 commented on #11
@shivansh29 Sorry, I didn't see this before. I'll review your pull request. Thanks

[2021-01-18 19:33] #10 closed

[2021-01-18 19:36] knjk04 opened #49 "Fix failing SonarCloud"
Fix the SonarCloud setup in the Azure pipeline that is failing the build

[2021-01-20 10:40] Sajal193 commented on #6
Hi @knjk04 . Is it still open? I wanna work on this issue...

[2021-01-21 08:17] knjk04 commented on #6
Hi, @Sajal193 . Yes, it is. Before I assign you to the issue, what's your implementation approach?

[2021-02-01 10:33] nikole24 commented on #12
Hello! Can I work on this task too?

[2021-02-01 12:48] nikole24 commented on #28
Hello! Can I work on this task too?

[2021-02-01 12:54] knjk04 commented on #28
Hello, sure. Thanks!

[2021-02-01 13:42] nikole24 commented on #28
I have a question before I start working on this. For returning the books of an author can I use the findAllAuthors method that already exists or I should create a new method that will have inputs the first name and last name of the author and return only the book list of that author?

[2021-02-02 17:23] knjk04 commented on #28
I don't think you'll need that method. You may want a `findByAuthor` method in the `BookRepository`, though

[2021-02-13 15:02] #28 closed

[2021-02-15 01:12] DanielNetoP commented on #5
Should the return value simply be null, or do we need to implement some kind of error response with a invalid isbn message?

[2021-02-15 06:21] knjk04 commented on #5
The latter. It would be good if we can define a custom exception for an invalid ISBN 13

[2021-02-22 18:52] kev711 commented on #12
Can I work on this ?
I will need to know what is meant by "using the Author type" since a `findByAuthor()` method is already available in `om.karankumar.booksapi.repository.BookRepository`.

[2021-02-23 06:54] knjk04 commented on #12
My bad, it looks like this was completed recently. I should have closed this issue. Thanks for expressing an interest in this, though!

[2021-02-23 06:54] #12 closed

[2021-02-23 19:43] #2 closed

[2021-02-24 06:38] knjk04 opened #54 "Host is not allowed to connect to this MySQL server"
**Describe the bug**
Unable to connect to the MySQL

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `localhost:8082`
2. Enter in `root` for the username and `rootpassword` for the password
3. See error

**Expected behavior**
A user should be able to log in without needing to configure anything else.

**Screenshots**
![image](https://user-images.githubusercontent.com/11173328/108958240-

[2021-02-24 06:39] knjk04 commented on #49
Resolved by issuing a new personal access token on Azure DevOps

[2021-02-24 06:39] #49 closed

[2021-02-24 07:58] kev711 commented on #54
Not sure about the docker image config, but MySQL in default config allows only `localhost` to connect. Maybe that's why docker IP `172.25.0.2` isn't allowed to connect.

[2021-02-24 08:05] kev711 commented on #6
Hello, I would like to take a shot at this.

My proposal:
- Create an Entity `BookSeries` with properties `Series Id (Key), Name of Series, Series Order Number, Book Id (Foreign Key)`
- Modify Entity `Book` to add property `Series Id (Foreign Key)`

Does that make sense ?

[2021-02-24 08:22] knjk04 commented on #54
That's strange. This works for me on Linux. I thought this was set to run on `localhost`?

[2021-02-24 08:28] knjk04 commented on #6
Hello, thanks for your interest in this!

The Id ad name of the series sounds good.

Perhaps we don't need a series order number if a `BookSeries` contains an ordered (and unique) collection of books? Your approach sounds good, but how could we prevent different books from having the same series position?

[2021-02-25 05:10] vAdyar commented on #5
Hi, can I pick this up?

We need an ISBN 13 validator utility using Apache commons validator and a custom exception for that if it fails right?

[2021-02-25 06:22] kev711 commented on #54
`localhost` is the IP the container binds for external communication. Inside the container network the IP would be `172.25.0.2` as shown in the error. Maybe you can try enabling external IPs  in the mysql config in the container (see [this](https://www.digitalocean.com/community/tutorials/how-to-allow-remote-access-to-mysql)).
As for linux, my guess is if above works, then the image config is some

[2021-02-25 06:37] knjk04 commented on #5
Hi, sure. Yes, the utility and a custom exception would be good. Thanks!

[2021-02-25 06:40] knjk04 commented on #54
Thanks for the link! I'll look into this

[2021-02-25 08:36] kev711 commented on #6
I see an issue with my proposed approach where a Unique Series Id will relate to a single Book Id (When we need it to relate with multiple book id's).

Maybe we can:
- Create a `BookSeries` entity with properties `BookSeriesId (Key)`,`SeriesName`
- Create a `BookSeriesMapping` entity with properties `BookSeriesId (FK)`,`BookId (FK)`,`SerialNumber`.
- Skip any changes to `Book` entity.

As to have

[2021-02-25 08:40] knjk04 opened #56 "Test QueryResolver"
Test each of the QueryResolver methods

[2021-02-25 08:46] knjk04 opened #57 "Find books by publisher"
Add a derived query (with JPQL) that finds all of the books by a specific publisher (the publisher passed in as an argument)

[2021-02-25 18:56] knjk04 opened #59 "Migrate to DGS"
Use DGS, a wrapper on top of graphql-java, made by Netflix: https://netflix.github.io/dgs/getting-started/.

It may help to also migrate from using Maven to Gradle if we want to use their code generation Grade plugin

[2021-02-25 21:01] MarcinMaruszak commented on #57
i'd like to do it

[2021-02-26 04:11] kev711 commented on #6
I confirmed that A `UNIQUE(BookSeriesId, BookId, SerialNumber)` constraint should work.

[2021-02-26 06:48] knjk04 commented on #6
Does the serial number represent the order a book is in a series?

So there would be a many-to-many relationship between `Book` and `Series`. Is that correct?

Sorry, what do you mean by 'skip' here?

[2021-02-26 06:52] knjk04 commented on #57
Thanks!

[2021-02-26 09:31] kev711 commented on #6
- Yes serial number represents order of book in series.
- Yes, there will be a many to many relationship between the two.
- By skip, I meant I wont make any changes to `Book` entity.

[2021-02-26 17:38] knjk04 commented on #6
@kev711 Thanks! Feel free to reach out by creating a GitHub discussion or by asking on our #help channel on Slack if you need anything!

[2021-02-27 09:47] knjk04 commented on #54
Fixed with this: https://github.com/docker-library/mysql/issues/275#issuecomment-292208567

I think we need a way to access the database without using root

[2021-02-27 18:59] #59 closed

[2021-02-27 19:02] knjk04 opened #62 "Azure pipelines Gradle build failing"
**Describe the bug**
The Gradle step fails. It's not able to locate the Gradle wrapper.

https://dev.azure.com/project-books/Books%20API/_build/results?buildId=174&view=logs&j=12f1170f-54f2-53f3-20dd-22fc7dff55f9&t=ea098990-53e4-52aa-5a84-5ead7c5f17f2

[2021-02-27 20:00] knjk04 opened #63 "Set up DGS code generation"
Add the DGS code generation build plugin and use the code generation in the data fetchers

https://netflix.github.io/dgs/generating-code-from-schema/

[2021-02-28 09:07] knjk04 opened #65 "Codecov not tracking test coverage"
Our code coverage reports may not be getting sent to Codecov. Recent commits are not showing on Codecov

[2021-02-28 09:15] knjk04 commented on #6
@kev711 I think a book should be in at most one series and a series can contain many books. Should the relationship between series and book be many-to-one?

Also, we're now using Gradle & DGS, so I'd recommend rebasing your branch with `main` to get the new commits if you haven't already

[2021-02-28 09:41] kev711 commented on #6
I think in future, if the need arises to have a book in multiple series (e.g. Author specials, author etc.) then that would be needed.

[2021-02-28 18:56] knjk04 opened #66 "Create publisher entity"
Create a many-to-many relationship between `Book` and a new `Publisher` entity

Fields:
- Publisher name. This can be a `String` (we can remove our existing enum). This should be unique
- Books (non-null)
- About (nullable)

We should be able to find all of the books published by that publisher (derived query with JPQL).

**Additional context**

A new migration is needed for Flyway

[2021-02-28 19:21] knjk04 commented on #56
This needs to be changed to testing our data fetcher now we're using DGS

[2021-02-28 19:21] #56 closed

[2021-03-01 10:43] knjk04 opened #69 "Add Spring Security"
Add Spring security with roles ('user' and 'admin').

All queries should be accessible without being authenticated. Mutations should only be allowed for those with admin access.

[2021-03-01 10:48] knjk04 commented on #62
Fixed by adding the missing wrapper jar

[2021-03-01 10:48] #62 closed

[2021-03-01 10:51] knjk04 opened #70 "Add delete book mutation"
Add a delete book mutation. It should take in an ID of the book to delete

[2021-03-01 10:51] #54 closed

[2021-03-01 12:34] knjk04 opened #71 "Test data fetcher"
Test the BookDataFetcher using the codegen provided by DGS

[2021-03-04 18:37] #5 closed

[2021-03-13 06:21] Omkarganjale commented on #65
Hey, codecov is working fine. You might close this issue.

[2021-03-13 06:33] knjk04 commented on #65
![image](https://user-images.githubusercontent.com/11173328/111021665-ed6be800-83c5-11eb-94f9-d07a90abdbac.png)

Hey, it looks like it's last seeing commits from 2 months ago. Perhaps we're not sending the coverage report correctly.

https://codecov.io/gh/Project-Books/books-api

[2021-03-13 06:34] knjk04 commented on #6
@kev711 How are you getting on with this?

[2021-03-13 06:35] knjk04 commented on #57
@MarcinMaruszak How are you getting on with this?

[2021-03-14 06:53] kev711 commented on #6
Still working on this. Not stuck as such, will create a PR on this in a few days.

[2021-03-14 08:33] knjk04 commented on #6
That's fine, thanks for the update!

[2021-03-14 19:36] kev711 commented on #6
About this requirement, should these repository functions be a part of Entity `Book` or `BookSeriesMapping` ?

[2021-03-15 06:45] knjk04 commented on #6
Good question! I think it should be a part of the `Book` entity

[2021-03-20 15:36] knjk04 commented on #57
@MarcinMaruszak Unfortunately, as we have not heard back from you in a while, I will unassign you from the issue. This is in line with our contributing guidelines.

[2021-03-20 16:14] knjk04 opened #73 "Add new author mutation"
Add a GraphQL mutation that allows us to add a new `Author` with a first name and last name. This should be in a separate mutation class.

We will need to update the schema to allow the `about` field to be nullable.

[2021-03-20 16:25] knjk04 opened #74 "Find books by author"
Add a new query to find books by a particular author

[2021-03-20 16:29] knjk04 opened #75 "Multiple authors saved"
In `BooksApiApplication`, we have a command line runner that prepopulates the database with some test data. Despite only creating two authors, multiple authors are created (see `SELECT * FROM author;`)

[2021-03-20 16:36] knjk04 opened #77 "Make first name and last name one field"
Combine the first name and last name fields into one field called `fullName`. This should be not nullable and not empty.

[2021-03-20 16:56] #77 closed

[2021-03-20 16:59] knjk04 opened #79 "Remove an author and their books"
Add a mutation that allows an author and its books to be removed from the database.

[2021-03-20 17:01] knjk04 opened #80 "Change the author to be the owning side of the book-author relationship"
The `Author` should be the owning side of the many-to-many book-author relationship

[2021-03-21 12:38] #73 closed

[2021-03-21 12:39] knjk04 commented on #73
Implemented

[2021-03-21 12:43] knjk04 commented on #8
Unblocked but we need to come up with an implementation approach

[2021-03-21 12:49] kev711 commented on #6
@knjk04
I have created a PR for this.

[2021-03-21 12:52] knjk04 opened #82 "Add mutation to delete a book"
Add a new mutation that deletes a book. We should pass in a book ID

[2021-03-22 19:05] kev711 commented on #63
Hi @knjk04,

Can I do this ?

[2021-03-22 19:07] knjk04 commented on #63
Hi @kev711, sure. Thanks again!

[2021-03-27 10:14] #70 closed

[2021-03-28 16:15] #82 closed

[2021-03-29 08:26] kev711 commented on #63
I see there are a query type specs created in `resources\schema`. Do we need to create data fetchers on basis of query type or Repository methods in Entity Repositories ?

[2021-03-29 08:41] kev711 commented on #75
@knjk04 : In `application.properties` the key `spring.jpa.hibernate.ddl-auto` is set to `validate`. This setting will not remove existing data on `bootRun`. Try changing the settings to `create-drop`.

[2021-03-30 07:07] knjk04 commented on #75
Ah, thanks for this!

[2021-03-30 07:09] knjk04 commented on #63
The repository methods, please

[2021-03-30 07:24] knjk04 commented on #65
--> No coverage report found.

[2021-03-30 09:59] knjk04 commented on #71
Blocked by #63

[2021-03-30 16:03] knjk04 opened #85 "Create entity-relationship diagram"
Create an entity-relationship (ER) diagram for the classes in the `model/` directory.

We should show this in a new README.md file inside the `model/` directory (similar to [this](https://github.com/Project-Books/book-project/blob/0.2.0/backend/src/main/java/com/karankumar/bookproject/backend/model/README.md)).

Free software (e.g. app.diagrams.net) should be used so that we can export the file an

[2021-03-30 16:17] #66 closed

[2021-03-30 16:21] knjk04 opened #87 "Unable to find publisher for book"
[code]

The `findAllBooks` query should show the publisher for the above book as 'Bloomsbury'.

Query:
[code]

[2021-03-30 16:23] knjk04 opened #88 "Deploy on Azure"
Set up a MySQL database on Azure and connect to it from within `application-prod.properties` (this needs to be created)

[2021-03-31 06:40] #80 closed

[2021-03-31 06:57] knjk04 opened #90 "Add mutation to delete an Author and all of its books"
Add a mutation in `AuthorMutation` that deletes the Author (specified by its ID) and all of its books.

[2021-03-31 06:59] #79 closed

[2021-03-31 07:25] #75 closed

[2021-03-31 09:19] knjk04 opened #92 "Set up CodeQL Analysis"
https://github.com/Project-Books/books-api/new/main?filename=.github%2Fworkflows%2Fcodeql-analysis.yml&workflow_template=codeql&code_scanning

[2021-03-31 09:21] knjk04 opened #93 "Create a security policy"
Create a security policy that informs reporters about the process we take if we discover or are informed of a vulnerability

[2021-03-31 09:28] knjk04 opened #94 "Publish Codecov report in PRs"
Show the Codecov code coverage change report in pull requests

[2021-03-31 09:43] knjk04 opened #95 "Follow up on pull requests"
**Context**

Currently, we follow up after 7 days of no activity on pull requests. If we don't hear back from the contributor 7 days later (a total of 14 days of no activity), we close the PR and unassign them from the issue. This helps us develop at a quick pace and helps to mitigate against assigned issues being not being worked on.

**What we want**

This should all be automated -- sending up t

[2021-03-31 10:44] #95 closed

[2021-03-31 10:47] knjk04 opened #97 "Fix integration with SonarCloud"
SonarCloud still thinks we're using Maven, so we need to update this. Recent commits are not showing

[2021-03-31 10:47] knjk04 commented on #97
See https://dev.azure.com/project-books/Books%20API/_build/results?buildId=285&view=logs&j=12f1170f-54f2-53f3-20dd-22fc7dff55f9&t=1cb08783-77e7-5a05-0940-a31d200b4421&l=9

[2021-03-31 14:18] himanshu007-creator commented on #85
@knjk04  sir, can you send a rough sketch of ER diag.? i will then create it

[2021-03-31 15:18] kev711 commented on #63
I tried generating data fetchers using code generation (`generateJava` task). It seems to generate only boilerplate code with dummy methods. Rest has to be done manually.
Also, I see all but one method defined in `com.karankumar.booksapi.datafetchers.BookDataFetcher`. So I'm not sure what needs to be done here...

[2021-04-07 07:15] knjk04 commented on #63
Things like constants and the query builder for testing. See [this video](https://www.youtube.com/watch?v=oxZ6Ts9WTDM)

[2021-04-07 07:16] knjk04 commented on #85
You can find the entities in the [model package](https://github.com/Project-Books/books-api/tree/main/src/main/java/com/karankumar/booksapi/model). The relationships should be denoted by annotations. Hopefully that helps

[2021-04-15 18:01] knjk04 commented on #85
@himanshu007-creator How are you getting on with this?

[2021-04-15 18:01] knjk04 commented on #63
@kev711 How are you getting on with this?

[2021-04-18 15:36] kev711 commented on #63
@knjk04 , I'm running a bit busy so I'll un assign myself from this one.

[2021-04-19 05:39] knjk04 commented on #63
@kev711 OK, thanks for letting us know

[2021-04-23 14:44] Michaelg2021 commented on #90
Hi I would like to work on this issue

[2021-04-23 18:28] knjk04 commented on #90
Sure, thanks!

[2021-04-24 05:51] knjk04 commented on #85
@himanshu007-creator Unfortunately, as we have not heard back from you in a while, I will unassign you from the issue. This is in line with our contributing guidelines.

[2021-04-28 05:36] knjk04 opened #99 "Cannot drop publisher_book foreign keys"
**Describe the bug**
In `V010__RENAME_PUBLISHER_BOOK_CONSTRAINTS.sql`, we attempt to drop some foreign keys. However, it looks like we've already renamed them, so we need to first check whether the foreign keys with the obscure names exist.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run the app
2. See error

**Expected behavior**
App runs without any build errors.

[2021-04-29 18:08] #63 closed

[2021-05-04 06:05] knjk04 commented on #90
@Michaelg2021 How are you getting on with this?

[2021-05-04 16:52] Michaelg2021 commented on #90
I'll have it done by the end of the week. Got my progress held up by school work last week, my apologies.

[2021-05-04 18:23] lawynnj commented on #57
Hello, can I pick this up?

[2021-05-04 18:39] knjk04 commented on #57
Hi, sure. Thanks!

[2021-05-06 17:07] lawynnj commented on #99
Just a heads up, this is blocking https://github.com/Project-Books/books-api/issues/57.

[2021-05-06 18:20] knjk04 commented on #99
@lawynnj As a temporary solution, you can remove that file

[2021-05-06 20:01] lawynnj commented on #57
@knjk04  Is the publisher (that is passed in) of type string? i.e. `findByPublisher("my_publisher")`?

[2021-05-07 06:52] lawynnj opened #105 "Database is not seeded correctly (Empty `publisher_book` table)"
**Describe the bug**
When the BooksApiApplication is run the database is seeded with some data.

The code that does the seeding:
https://github.com/Project-Books/books-api/blob/f44b0d03dad1f2a131acbe14f7439808939be173/src/main/java/com/karankumar/booksapi/BooksApiApplication.java#L45

[code]

The book and publisher tables are seeded correctly, but the `publisher_book` table is not. When running a

[2021-05-07 07:01] lawynnj commented on #105
@knjk04 thoughts?

[2021-05-09 08:05] knjk04 commented on #105
@lawynnj Thanks for bringing this up and for the detailed issue description (this made debugging a lot easier)!

You're right that `publisher_book` should not be empty.

[code]

The issue is that we're saving the publisher before adding the book. I'll create a patch for this shortly

[2021-05-15 08:14] knjk04 commented on #90
@Michaelg2021 Do you have an update on this?

[2021-05-18 07:35] #105 closed

[2021-05-21 17:49] mparkersimms commented on #74
I'd like to work on this issue!

[2021-05-21 17:54] knjk04 commented on #74
@mparkersimms Thanks, I'll assign you to it! Feel free to reach out if you need a hand

[2021-05-21 17:58] mparkersimms commented on #15
I'd like to work on this issue if that's alright with you?

[2021-05-21 18:30] knjk04 commented on #15
Thanks for your interest in this! We only assign at most issue at a time for new contributors (see https://project-books.github.io/docs/contributing/#new-contributors-assigned-to-at-most-one-issue-at-a-time), but we'd be happy to assign you to this if it's still available after we've merged in a pull request for your currently assigned issue

[2021-05-25 06:02] lawynnj opened #107 "Update the contribution documentation to include steps for running tests"
The contributing documentation (https://project-books.github.io/docs/contributing/) is missing steps on how to execute tests.

This would be helpful to contributors who are unfamiliar with the environment.

[2021-05-25 16:38] knjk04 commented on #90
@Michaelg2021 Unassigning due to no response

[2021-06-05 04:55] knjk04 commented on #74
@mparkersimms How are you getting on with this?

[2021-06-21 04:58] Sajal193 commented on #85
Hello Sir, can I work on this issue? As I am new to this platform, I'd love to contribute myself on this. Please assign this to me.

[2021-06-21 11:40] knjk04 commented on #85
@Sajal193 Hi, sure. Thanks. Feel free to create a new GitHub discussion or reach out to use on Slack if you need any help

[2021-06-23 07:00] knjk04 commented on #74
@mparkersimms Unassigning due to no response

[2021-06-23 07:31] Sajal193 commented on #85
Dear Sir, I have sent you a message on slack. My user name is Sajal193 on
slack. I'd be happy to know from you whether the connection is
successful or not. Thank You

On Mon, Jun 21, 2021 at 5:11 PM Karan Kumar ***@***.***>
wrote:

[2021-06-23 18:08] knjk04 commented on #85
@Sajal193 Feel free to call me Karan. Have you joined our Slack workspace (link is the Slack badge in the README)? I didn't see your username in the member list

[2021-06-24 05:25] Sajal193 commented on #85
Dear Sir,
As I have joined slack as a multi-channel guest, this channel cannot be accessed from my side. Someone alredy in the channel needs to provide me with the invitation link and only then I join the Slack workspace.

[2021-06-24 07:06] knjk04 commented on #85
Try this link: https://join.slack.com/t/teambookproject/shared_invite/zt-punc8os7-Iz9PTCAkYcO_0S~XwtO5_A

[2021-06-26 14:21] czyzu1710 commented on #74
Hello! I would like to tackle this issue.

[2021-06-26 14:36] knjk04 commented on #74
@czyzu1710 Hi, thanks! I'll assign you to it

[2021-06-26 14:51] czyzu1710 commented on #74
Okay, great! If my understanding is good, it is preety much working already. But there was a problem in com.karankumar.booksapi.BooksApiApplication#populateData method and there were no rows created in book_author table.
I changed this method a little and I'm now able to execute the query:
![image](https://user-images.githubusercontent.com/44461247/123516731-db286800-d69d-11eb-8a55-f84b22808c2d.pn

[2021-06-26 15:41] knjk04 commented on #74
That looks good to me

[2021-06-28 16:28] swetharnaik commented on #15
@knjk04 Could I work on this issue?

[2021-06-29 06:49] knjk04 commented on #15
@swetharnaik Sure, thanks a lot! I've updated the issue description

[2021-07-04 07:15] swetharnaik commented on #15
@knjk04 Have added Award entity. Please check output below. If all is good, will raise a PR.
![image](https://user-images.githubusercontent.com/17508164/124376670-be0b1f00-dcc5-11eb-9b6e-2662b715d63a.png)

[2021-07-04 09:35] knjk04 commented on #15
@swetharnaik Thanks, this looks good! Would it be possible to remove 'IgnoreCase' from the method name and trim the input award name for leading or trailing whitespace if you haven't done so already?

[2021-07-04 11:07] Syemon commented on #90
Hi, can I grab this one?

[2021-07-04 16:59] swetharnaik commented on #15
@knjk04 Sure

[2021-07-04 17:09] knjk04 commented on #90
Hi @Syemon, sure. Thanks!

[2021-07-10 13:10] Syemon commented on #90
@knjk04 I see that a book can have multiple authors. Should I delete book only if there are no relations with authors left?

[2021-07-10 17:04] knjk04 commented on #90
@Syemon Yes, good idea!

[2021-07-16 06:27] knjk04 commented on #74
@czyzu1710 How are you getting on with this?

[2021-07-16 06:28] knjk04 commented on #85
@Sajal193 How are you getting on with this? I saw your comment on Slack

[2021-07-24 18:42] Sajal193 commented on #85
Yes Sir, almost done. I had a casualty in my home and so was unable to proceed with submission process. I'll be making the same very soon.

[2021-07-25 05:18] knjk04 commented on #85
@Sajal193 That's fine, no rush then. I hope everything is OK at home

[2021-08-13 06:43] knjk04 commented on #74
@czyzu1710 Unassigning due to no response

[2021-08-15 15:46] Syemon commented on #90
@knjk04 I have problems with deleting books with only one relation. I have tried this approach.
[code]
And it appears that records of book_author table (the ones with two authors) were not cleared  ```Cannot delete or update a parent row: a foreign key constraint fails (`booksapi`.`book_author`, CONSTRAINT `FKbjqhp85wjv8vpr0beygh6jsgo` FOREIGN KEY (`author_id`) REFERENCES `author` (`id`))```
Can I

[2021-08-30 13:09] maines-pet commented on #74
Hi, can I work on this issue?

[2021-08-31 13:00] maines-pet commented on #87
Hi, I would like to work on this. I've identified the issue in the book.graphqls causing this issue.

[2021-08-31 17:37] knjk04 commented on #74
@maines-pet Hi, sure. Thanks!

[2021-09-10 10:12] knjk04 commented on #87
Hi @maines-pet , we can assign you to this after we have merged in your work for your currently assigned issue (see contributing document)

[2021-09-10 11:24] knjk04 opened #113 "Replace Gradle with Maven"
As the Book Project is using Maven, and now that there's a [DGS codegen port for Maven](https://github.com/deweyjose/graphqlcodegen), we can use Maven again

[2021-09-10 11:33] knjk04 opened #114 "Fix migration error"
**Describe the bug**
SQL syntax error in the first migration file

**To Reproduce**
Steps to reproduce the behavior:
1. Run app
2. See error

**Additional context**
Stack trace: https://gist.github.com/knjk04/b959e9277ae5eafb3d7e0fea6accbfae

Affects main

[2021-09-10 12:07] #114 closed

[2021-09-10 12:14] #57 closed

[2021-09-10 17:09] knjk04 commented on #99
This file has been removed

[2021-09-10 17:09] #99 closed

[2021-09-11 07:12] #74 closed

[2021-09-11 08:22] #113 closed

[2021-09-11 08:38] knjk04 commented on #94
We will use SonarCloud instead

[2021-09-11 08:38] #94 closed

[2021-09-11 08:41] maines-pet commented on #87
Hi, can I now take this on?

[2021-09-11 09:43] knjk04 opened #120 "Set up GitHub actions"
We will be trialing a move from Azure DevOps to GitHub actions

[2021-09-11 09:50] #120 closed, assigned to knjk04

[2021-09-11 10:24] knjk04 commented on #97
This is now fixed and configured to work with GitHub actions

[2021-09-11 10:24] #97 closed

[2021-09-11 10:25] knjk04 commented on #65
We'll be using SonarCloud to track code coverage

[2021-09-11 10:25] #65 closed

[2021-09-11 10:25] knjk04 commented on #26
We'll use SonarCloud for this

[2021-09-11 10:25] #26 closed

[2021-09-11 12:34] knjk04 opened #122 "Exclude certain files from JaCoCo reports"
We don't want the test coverage to include:
- BooksApiApplication.java
- Any class in the `model` package

[2021-09-11 12:40] knjk04 opened #123 "Switch MySQL for PostgreSQL"
Switch MySQL for PostgreSQL

Rationale: this will allow us to adopt a permissive license (e.g. MIT)

[2021-09-11 14:26] #123 closed

[2021-09-15 02:57] maines-pet commented on #87
Hi @knjk04, picking up from #125, can you please check if my approach would work on this issue?

- Change ManyToMany relationship of Book-Publisher into ManyToOne unidirectional
- Publisher_Book table will be removed as it's not needed for unidirectional Book-Publisher
- Remove the books field in Publisher class
- Update Query of BookRepository::findByPublisher to not use publisher_book join table

[2021-09-15 06:15] knjk04 commented on #7
Also need to update the sample query

[2021-09-15 06:20] knjk04 opened #127 "Update licenses"
Update the licenses in every source file to use the newly adopted MIT license (see file at the root of the repository)

[2021-09-15 06:27] knjk04 opened #128 "Cannot find column in the findByTitleIgnoreCase query"
**Describe the bug**
Column not found: `book0_.genre_id`: https://gist.github.com/knjk04/2aeb2a07636703b54a7805bcf4d997dd

Stack trace:

**To Reproduce**
Steps to reproduce the behavior:
1. Run the findByTitleIgnoreCasequery in graphiql

[code]

[2021-09-15 06:38] knjk04 commented on #87
Hi @maines-pet, apologies for the confusion, I've been thinking about this further. Let's keep the many-to-many relationship with the join table and references on both sides. We may need to update the type of publisher field in the book.graphqls schema to a list

[2021-09-15 06:51] maines-pet commented on #87
In that case, will PR #125 be able to address the requirements now? I'm not sure if it's possible to reopen a closed PR in github.

[2021-09-15 12:34] knjk04 commented on #87
@maines-pet Yes, sorry for the mix-up. I've reopened it

[2021-09-15 16:18] #128 closed

[2021-09-26 18:31] #87 closed

[2021-09-27 06:50] lubomirdruga commented on #11
Hi @knjk04, is this issue available? I would like to help with that :)

[2021-09-27 11:41] knjk04 commented on #11
Hi @lubomirdruga, it's still available. I'll assign you to it. Thanks!

[2021-09-29 15:51] lubomirdruga commented on #11
Hey @knjk04
Do you mean by this issue to find books by **genre** or **title?** Because the issue name and your description does not match(I guess it's a typo).

[2021-09-29 16:06] knjk04 commented on #11
Hi @lubomirdruga, my bad. Good spot. I meant genre, I've fixed the description now. Thanks!

[2021-10-02 16:14] pranatimittal commented on #69
Hey, I would like to try adding user/admin roles. Can I?

[2021-10-02 16:27] knjk04 commented on #69
Hi @pranatimittal, sure, I'll assign you to the issue. Thanks!

[2021-10-03 15:03] pranatimittal commented on #69
@knjk04 could you help me get started? I have never worked with dgs and spring security and interested to lean it

[2021-10-04 16:35] machinalny commented on #69
Hey, @knjk04 How user should authorize? Basic Auth? Bearer Token? Oauth? Maybe API Key?

[2021-10-04 17:15] knjk04 opened #131 "Return URL for book covers in response"
Example of one of our covers: https://bapiimagesdev.blob.core.windows.net/covers/1/small.jpg

The prefix will always be https://bapiimagesdev.blob.core.windows.net/covers/. The 1 refers to a unique ID that refers to that specific book. The file name can either be called 'small', 'medium' or 'large', followed by an extension type (currently, we only accept .jpg and .png ).

A book can have many cov

[2021-10-04 17:16] knjk04 commented on #131
@jhanna60

[2021-10-04 19:44] jhanna60 commented on #131
Happy to pick this up @knjk04

[2021-10-04 21:28] Wildschut commented on #122
Hi, can I be assigned this issue?

[2021-10-05 07:08] knjk04 commented on #122
Hi, sure, I'll assign you to the issue. Thanks!

[2021-10-08 00:32] mreza-kiani commented on #71
hi @knjk04 Since the #63 issue is closed now, can I work on this issue?

[2021-10-10 06:49] knjk04 commented on #69
@pranatimittal For both DGS and Spring Security, but particularly DGS, I recommend looking at the official documentation. DGS is quite new, so there may be relatively few tutorials out there. They have a page on [Spring security](https://netflix.github.io/dgs/advanced/security/). You can also walk through the tutorials on the site to find out how it works.

For Spring Security specifically, there

[2021-10-10 06:50] knjk04 commented on #69
Hi @machinalny, good question! API key would be great. Are you happy for me to assign you to this?

[2021-10-10 12:15] knjk04 opened #134 "Dockerise backend"
We should dockerise the backend to make it easier for people, particularly our frontend developers, to get this running without needing to set things up (e.g. install the JDK, etc.). It should also start and run our PostgreSQL database.

Use a minimal Alpine distribution to run the Spring app.

For our development environment, we can use the preset Postgres credentials (username, password, host, e

[2021-10-10 12:16] knjk04 commented on #134
@Wildschut Could you reply that you're interested in picking this up so that your name appears in the assignees list for me to assign this to you?

[2021-10-10 12:17] knjk04 commented on #85
@Sajal193 How are you getting on with this? I know we spoke about an automated approach of generating the diagram

[2021-10-10 12:27] knjk04 opened #135 "IntelliJ thinks project is a Gradle project"
**Describe the bug**
A clear and concise description of what the bug is.

Temporary solution is to run `mvn spring-boot:run`, but it would be good if I can simply click on the IntelliJ run button.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the project as a Maven project inside IntelliJ
2. Try running the project
3. See error

**Expected behavior**
It should recognise it is a Maven

[2021-10-10 12:29] Wildschut commented on #134
Hi, yes I'd interested.

[2021-10-10 18:23] #11 closed

[2021-10-10 18:54] knjk04 opened #136 "Books API no longer showing in SonarCloud"
![image](https://user-images.githubusercontent.com/11173328/136709486-c45941b0-3dce-4f5b-80d4-fe7e218cb6a5.png)

After scanning the Book Project, the Books API is no longer showing.

[2021-10-11 07:55] knjk04 commented on #122
@Wildschut For some reason, SonarCloud is not ignoring these: https://sonarcloud.io/component_measures?id=Project-Books_books-api&metric=coverage&view=list

[2021-10-11 21:53] Wildschut commented on #122
Hi Karan,

I'm not sure how to interpret the results of the https://sonarcloud.io/dashboard?id=Project-Books_books-api&pullRequest=138.

I think its only analyzing the changed pom?

How can I verify the changes made are the intended result? Tried setting up my own sonarqube but I don't have enough know how right now to do it timeously.

[2021-10-12 18:02] knjk04 commented on #122
Something seems to be going wrong with Sonar because it's now pointing to the Book Project. I'll re-close this issue and investigate further on my end. Thanks!

[2021-10-12 18:02] #122 closed

[2021-10-16 17:37] Sajal193 commented on #85
Yes sir, I'll be sharing my prototype shortly

[2021-10-31 14:11] #131 closed

[2021-11-20 11:15] #135 closed

[2021-12-09 14:49] knjk04 commented on #71
@mreza-kiani How are you getting on with this?

[2021-12-09 14:50] knjk04 commented on #85
@Sajal193 How are you getting on?

[2021-12-15 17:02] knjk04 commented on #69
@machinalny How are you getting on with this?

[2021-12-15 19:39] #134 closed

[2021-12-20 16:31] knjk04 commented on #85
@Sajal193 Unassigning due to no response

[2021-12-20 16:31] knjk04 commented on #85
Closing as this may no longer be needed as we have some documentation through graphiql

[2021-12-20 16:31] #85 closed

[2021-12-20 16:31] knjk04 commented on #71
@mreza-kiani Unassigning due to no response

[2022-02-05 19:41] knjk04 commented on #69
@machinalny Unassigning due to no response

[2022-02-12 11:31] knjk04 opened #144 "Change findByTitleIgnoreCase to return an array"
Change findByTitleIgnoreCase to return an array of books, not just one (see thread: https://github.com/Project-Books/book-project/issues/882). We will also need to have multiple books with the same name so we can properly test this functionality.

[2022-02-17 20:43] priya1712d opened #145 "Content is dripping out of tiles in List view"
**Describe the bug**
'Connecting to Backend' link is broken in documents

**To Reproduce**
Steps to reproduce the behavior:
1. Log in to the application
2. Go to list view

**Expected behavior**
Name of the book should be visible properly

**Screenshots**
<img width="1255" alt="Screenshot 2022-02-17 at 21 41 09" src="https://user-images.githubusercontent.com/29104924/154567498-7006fce4-7aaa-4f59-b

[2022-02-18 18:45] #15 closed

[2022-03-01 09:49] YashxAnand commented on #144
Hi knjk04, I would like to work on this issue.

[2022-03-13 09:36] knjk04 commented on #144
Hi @YashxAnand. apologies for the delay in getting back to you. This issue is already assigned, but feel free to request to be assigned to one of our other, non-assigned issues

[2022-03-14 06:36] knjk04 opened #147 "Use BigInt for IDs in publisher_book"
Our publisher_book table:

[code]

We should not be using `BIGSERIAL` for the IDs as we do not want them to auto-increment. Instead, we use `BIGINT`.

[2022-03-19 19:56] knjk04 opened #149 "Change cover table"
Change the way we have the covers set up. Instead of an ID, we will only store the URL to a small, medium and large cover

[2022-03-20 08:23] #149 closed

[2022-03-20 08:52] #144 closed

[2022-03-20 08:54] knjk04 opened #151 "Use Testcontainers instead of h2 for integration tests"
Similar to https://github.com/Project-Books/book-project/issues/917 in the Book Project, we would like to use Testcontainers instead of h2 for integration tests so that we are actually using a PostgreSQL database.

[2022-03-20 08:54] #7 closed

[2022-03-20 08:56] knjk04 opened #152 "Bump snapshot version when merged into main"
When we merge into main, we would like the [snapshot version in our pom.xml](https://github.com/Project-Books/books-api/blob/main/pom.xml#L13) to be incremented. This will allow us to keep better track of which version we are running in our dev server.

[2022-03-20 09:01] knjk04 opened #153 "Null covers in findByTitleIgnoreCase query"
**Describe the bug**
The covers field is `null` when we run `findByTitleIgnoreCase`.

**To Reproduce**
Steps to reproduce the behavior:
1. Run the app
2. Go to `http://localhost:8082/graphiql`
3. Run the query shown below
4. See error

Query:

[code]

**Expected behavior**
The URLs for the small, medium and large covers to show. Those fields themselves in the `Cover` object can be null. In the cas

[2022-03-20 09:01] knjk04 commented on #88
Closing as we won't be using Azure

[2022-03-20 09:01] #88 closed

[2022-03-20 10:51] #153 closed

[2022-03-20 12:33] knjk04 opened #155 "Filter by language"
**Is your feature request related to a problem? If so, please describe.**
A user may only want to see their books in their chosen language (e.g. Spanish). Currently, we'd show all books that satisfy the query, regardless of the language.

**Describe the solution you'd like**
For every GraphQL query, we should have an optional language argument.

To prevent a user from having to enter in `null` for

[2022-03-20 12:45] knjk04 opened #156 "Set up hot reloading with JRebel"
**Is your feature request related to a problem? If so, please describe.**
It can be slow to restart the server every time we make a change.

**Describe the solution you'd like**
Configure JRebel to work both when running the backend in Docker and without.

See https://netflix.github.io/dgs/advanced/schema-reloading/ for more information

**Additional context**
- Be sure to read the contributing gu

[2022-03-20 12:58] knjk04 opened #157 "Set up Google Java style guide linter as CI step"
**Is your feature request related to a problem? If so, please describe.**
We currently rely on manually checking style guide violations

**Describe the solution you'd like**
Add a GitHub action that can check if any style guide recommendations were violated. If so, the step should fail. This should run before the unit tests CI step.

**Additional context**
- Be sure to read the contributing guidel

[2022-03-20 13:02] knjk04 opened #158 "Store the year a book won an award"
**Describe the solution you'd like**
If a book wins an award, we should be able to show the year it won that award

**Additional context**
- Be sure to read the contributing guidelines first!
- Discuss your implementation approach with us before we assign you to it
- Provide us with an estimate on how long you think it will take you to complete
- Branch from `main` and set `main` as the destinatio

[2022-03-20 13:11] #147 closed

[2022-04-08 07:40] gstamatiadis commented on #155
Hello. Could I do this task? I have read the contributing guidelines. I think it will take about one week. My approach would be to write the appropriate query and the corresponding data fetcher.

[2022-04-19 13:59] emsnguyen commented on #158
Hi Karan
I am a newbie to open source and I find your project interesting so I would like to be a part.
Below are what I am thinking about the problem you are having, I look forward to your reply.

1. Implementation approach
Input: Id of a particular book
Output: the award name and the year the book won that award. Since a book can win many awards, the response should be a list I guess. If no awar

[2022-05-30 11:09] acyuta1 commented on #155
Hey Karan @knjk04,

I can take this up.
Should be a straightforward one.

Approach:
1. Request would contain an optional 'lang' param.
2. I feel, filtering the result set is a better option since a where clause in a query seems unnecessary.

Please let me know if this looks okay! Looking forward to your reply.

[2022-10-01 20:23] YanCanCode commented on #152
This could be achieved with the maven release plugin.  Want me to look into it for this project?  First time contributor but work with Maven every day.

[2022-10-02 19:09] ddninja commented on #158
hi @knjk04 , is this issue still open?

[2022-10-04 05:26] ooutofmind commented on #157
@knjk04 could you please review my PR

[2022-10-06 18:11] ShubhraSuman commented on #158
Can you assign this to me?

[2022-10-07 04:57] sushmitha-malae commented on #158
Interested in contributing to this issue, can you assign to me.

[2022-10-11 09:21] shabab477 commented on #151
Just started working with testcontainers. Can I take this issue?